@font-face {
  font-family: 'Ubuntu';
  src: url('../../fonts/Ubuntu/Ubuntu-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

// @font-face {
//   font-family: 'Ubuntu';
//   src: url('../../fonts/Ubuntu/Ubuntu-LightItalic.woff') format('woff');
//   font-weight: 300;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Ubuntu';
//   src: url('../../fonts/Ubuntu/Ubuntu-Regular.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Ubuntu';
//   src: url('../../fonts/Ubuntu/Ubuntu-Italic.woff') format('woff');
//   font-weight: 400;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Ubuntu';
//   src: url('../../fonts/Ubuntu/Ubuntu-Medium.woff') format('woff');
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Ubuntu';
//   src: url('../../fonts/Ubuntu/Ubuntu-MediumItalic.woff') format('woff');
//   font-weight: 500;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Ubuntu';
//   src: url('../../fonts/Ubuntu/Ubuntu-Bold.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Ubuntu';
//   src: url('../../fonts/Ubuntu/Ubuntu-BoldItalic.woff') format('woff');
//   font-weight: 700;
//   font-style: italic;
// }
